
@{
    ViewData["Title"] = "Importações";
}

<h1>Configurações gerais</h1>
<div class="row shadow-lg">
    <div class="col-md-6">
        <div class="form-group">
            <label for="formFile" class="form-label mt-4">Importar Clientes</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <br />
        <h1>Outras importações</h1>
        <div class="form-group">
            <a asp-action="StatePop" class="btn btn-primary">Carregar estados</a>
        </div>
        <br />
    </div>
    <br /><hr />
</div>


